$color-primary: #ecb22d;
$color-black: #000;
$color-white: #fff;
$color-text: #4a4a4a;
$color-text2: #555;
$color-grey: #f3f3f3;

$color-red: #e74c3c;

$color-orange: #F6A64D;
$color-green: #8BA73B;

$color-text: #626262;
$color-border: #edecec;
$color-backcolor-icon: #f2f4ec;
$border: .1rem solid $color-border;
$dark-hover: #2c2c2c;
$input-color: #7b7b7b;
$label-color: #363636;
$red: #f70000;
$color2: #211e1e;
$color9: #fbfbfb;
$bg-color-3: #dedede;

$text-color: #707070;